@charset 'utf-8';
@import url('layout_base.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

// 초기화 > reset.css 를 참고하기.
// CSS를 최대한 이용하면 좋은 이유는
// 혹시 자바스크립트에 문제가 발생하여 실행이 힘든 상황에서
// CSS로 충분한 기초를 짜 놓으면 기본적으로 깔끔한 디자인이 나오기 때문에
// CSS부터 깔끔하게 짜 놓고, 그 다음 스크립트를 이용해야 한다.


// 건너뛰기 링크(접근성)

// 탭키로 넘기다 보면 가장 처음으로 포커스 되는 부분. 
// 기존에는 위쪽에 숨어있다가 포커스나 활성화가 되면 아래로 내려온다. t-50 > t50


// 다크모드 CSS에서 감지 방법.
// @media (prefers-color-scheme: dark) {
//   /* 사용자가 다크모드를 운영체제에서 설정했을 때. */
//   .themed {
//     background-color: #000;
//     color: #fff;
//   }
// }

.clear::after {
  content: '';
  display: block;
  clear: both;
}
.le {float: left;}

.skipnavi {
  position: absolute;
  left: 0;
  top: -50px;
  /* 위로 올리고 */
  text-indent: -9999px;
  font-size: 0;
  // text-indent는 문단의 첫줄 들여쓰기할 때 쓰는 속성 -9999 로 밖으로 치워버림. 그리고 글자크기도 0으로 해서 높이를 없애버림.
  width: 100%;
  z-index: 999;

  li a:focus,
  li a:active {
    position: absolute;
    left: 0;
    top: 50px;
    display: block;
    width: 100%;
    padding: 5px 0;
    /* 크기를 지정해주고 */
    text-align: center;
    text-indent: 0px;
    /* 위치 잡고 옮긴거 다시 원상복귀 */
    font-size: 12px;
    font-weight: bold;
    background: #f2f2f2;
  }
}

/* anchor */
a {
  text-decoration: none;
  /* 밑줄 제거하고 */
}
/* 색 지정. */
a:link {
  color: #444;
}

a:visited {
  color: #444;
}

a:hover {
  color: #444;
}

a:focus {
  color: #444;
}

/* common 공통 스타일 설정 */
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #444;
  white-space: normal;
  word-wrap: break-word;
  overflow-x: hidden;
}

* {
  -webkit-text-size-adjust: none;
}

.hdd,
legend {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


hr {
  display: none;
}

/* ========================== PC ========================== */
/* dark mode */
body.dark {
  background-color: #232323;
  background-blend-mode: darken;

  /* toggle-button 설정 */
  .toggle-button {
    >.toggle-button-switch {
      left: 26px;
      background-color: #444;
    }
    >.toggle-button-text {
      background-color: #ddd;

      >.toggle-button-text-on,
      >.toggle-button-text-off {
        color: #f45e5e;
        transition-delay: .4s;
      }
    }
  }
  /* 헤더 */
  header {
    background-color: rgba($color: #555, $alpha: .8);
    .header_area {
      h1 {
        a {
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background-position: center !important;
          background: url('../images/logo/darkLogo.png');
        }
      }
      .util {
        
        li {
          a {
            color: #bbb;
            &:hover {
              color: #eee;
            }
          }
        }
      }
      .gnb {
        li {
          a {
            color: #ddd;
            &:hover {
              color: #eee;
            }
            &::after {
              background: rgba(254,121,104, 0.8);
            }
          }
        }
      }
    }
  }
  .viewImgList {
    li {
      &.imglist0,
      &.imglist1,
      &.imglist2 {
    background-color: rgba($color: #000000, $alpha: .3);
    background-blend-mode: darken;
      }
    }
  }
  #container {
    .about_area {
      h2 {
        color: #ddd;
      }
    }
    .about_box {
      background-color: #333;
    }
    .place_list {
      .placeItem {
        background: rgba(23, 23, 23, 0.25);
        h3 {
          color: #eee;
        }
        p.txt {
          color: #ddd;
        }
        .view {
          color: #aaa;
        }
      }
    }
  }

  .mainM {
    .mainI {
      border-bottom: 1px solid #888;
      >h2 {
        color: #ccc;
      }
      >p {
        color: #999;
      }
      .subM {
        .subI {
          >a {
            border: 1px solid #555;
            box-shadow: 2px 2px 5px #888;
          }
          .mName {
            color: #ccc;
          }
          .mTag {
            color: #aaa;
          }
        }
        .subI12 a {
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  /* footer */
  footer {
    .foot_area {
      .foot_list {
        li {
          &:first-child::after {
            color: #ddd;
          }
          a {
            color: #ddd;
          }
        }
      }
      h2 {
        color: #eee;
      }
      .addr {
        color: #ddd;
      }
      .copy {
        color: #ddd;
      }
    }
  }
  .popup_base {
    background: rgba(0, 0, 0, 0.4);
    .pop_content {
      background: rgba( 0, 0, 0, 0.7 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 8.0px );
      -webkit-backdrop-filter: blur( 8.0px );
      border-radius: 20px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );

      .pop_list li {
        color: #ddd;
        
        .pop_txt p {
          color: #eee;
        }
      }
    }
  }
  .location_area h2.tit_page {
    color: #745582;
  }
  .bodytext_area.Top_music {
    .con-wrap {
      .con {
        background-image: linear-gradient(#444444, #444444),
                          linear-gradient(to right, #ffcdf3aa, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: #444;
        >a {
          background-color: #ddd;
        }
        h3 {
          background-color: #666;
          color: #ddd;
        }
        p {
          color: #bbb;
          
        }
      }
    }
  }
  .service-wrap, .privacy-wrap {
    color: #ddd;
  }
}   /* end-darkMode */


/* button_style */
.btn_line {
  text-align: center;
  font-size: 0;

  a {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
/* layout */

.box_inner {
  width: 1050px;
  margin: 0 auto;
}

/* header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 113px;
  background-color: rgba($color: #ffffff, $alpha: .4);
  border-radius: 5px;
  z-index: 100;
  
  .header_area {
    h1 {
      float: left;
      padding: 5px 0 0;

      a {
        display: block;
        width: 250px;
        height: 100px;
        background: url('../images/logo/lightLogo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -9999px;
        overflow: hidden;
      }
    }

    .openMOgnb {
      display: none;
    }
  }
}

.header_cont {
  float: right;
  width: 680px;

  /* dark 모드 용 토글 버튼 */
  .toggle-button {
    position: absolute;
    right: 110px;
    top: 7px;
    width: 50px;
    height: 25px;
    // margin: 0 auto;
    cursor: pointer;
    >.toggle-button-switch {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 23px;
      height: 23px;
      background-color: #ddd;
      border-radius: 100%;
      transition: left 0.3s;
    }
    >.toggle-button-text {
      display: flex;
      background-color: #444;
      border-radius: 12px;
      box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, .75);
      transition: background-color .3s;

      >.toggle-button-text-on,
      >.toggle-button-text-off {
        width: 50%;
        line-height: 25px;
        text-align: center;
        color: #f4d75e;
      }
    }
  }

  .util {
    text-align: right;
    padding-top: 10px;
    position: relative;

    li {
      display: inline-block;
      position: relative;
      margin-top: -2px;
      right: 8%;

      a {
        font-size: 14px;
        color: #555;
        &:hover {
          color: #000;
        }
        i {
          font-size: 1.6rem;
        }
      }
    }
  }

  .gnb {
    float: right;
    box-sizing: border-box;
    padding-top: 5px;
    
    li {
      float: left;

      a {
        display: block;
        padding: 25px 40px;
        margin-left: 0px;
        font-size: 18px;
        color: #333;
        position: relative;
        transition: all .2s;
        overflow: hidden;

        &:hover {
          color: #000;
        }
        &::after {
          border-radius: 10px;
          content: "";
          position: absolute;
          top: 80%;
          left: -100%;
          width: 80%;
          height: 4px;
          background: rgba(168, 70, 248, 0.8);
          transition: all .3s;
          
        }
        &:hover::after {
          left: 10%;
        }



        i {
          display: none;
        }
      }

      // &:last-child a {
      //   padding-right: 0;
      // }
    }
  }

  .closePop {
    display: none;
  }
}

/* End-header_cont */

/* footer */
footer {
  border-top: 1px solid #ddd;

  .foot_area {
    position: relative;
    padding-bottom: 40px;

    .foot_list {
      padding-top: 25px;

      li {
        float: left;

        &:first-child::after {
          content: "|";
          display: inline-block;
          padding: 0 10px;
          font-size: 10px;
          color: #000;
          position: relative;
          top: -2px;
        }

        a {
          font-weight: bold;
          font-size: 15px;
        }
      }
    }

    h2 {
      padding-top: 25px;
      font-size: 14px;
      color: #666;
    }

    .addr {
      padding-top: 5px;
      line-height: 1.4;
      font-size: 13px;
      color: #666;

      .space0 {
        letter-spacing: 0;
      }
    }

    .copy {
      padding-top: 3px;
      font-size: 13px;
      color: #666;
      letter-spacing: 0;
    }

    .snslink {
      position: absolute;
      right: 20px;
      top: 50px;

      li {
        float: left;
        margin-left: 60px;

        a {
          display: block;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          text-indent: -9999px;
          background-size: contain !important;
          background-position: center;
          background: url(../images/logo/ncs.jpg) no-repeat;
        }

        +li a {
          background-size: contain;
          background-image: url(../images/logo/musiclib.jpg);
        }

        +li+li a {
          background-size: cover;
          background-color: #E04006;
          background-image: url(../images/logo/soundcloud.png);
        }
      }
    }
  }

  /* End-foot_area */
}

/* End-footer */

/* container */
#container {
  padding-bottom: 70px;
}

.main_rolling_mobile {
  display: none;
}

.visualRoll {
  position: relative;
  width: 100%;
}

.viewImgList {
  position: relative;
  width: 100%;

  li {
    text-align: center;
    height: 550px;
    line-height: 550px;

    &.imglist0 {
      position: relative;
      z-index: 50;
      background: url(../images/mainbg/mainbg1.jpg) no-repeat center;
    }

    &.imglist1 {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      background: url(../images/mainbg/mainbg2.jpg) no-repeat center;
    }

    &.imglist2 {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      background: url(../images/mainbg/mainbg3.jpg) no-repeat center;
    }

    background-size: cover !important;

    .roll_content {
      position: relative;

      .roll_txtline {
        position: absolute;
        left: 0;
        bottom: 60px;
        width: 100%;
        line-height: 1;
        text-align: center;
        font-size: 22px;
        color: #fff;
        letter-spacing: 2px;
      }
    }
  }
}

/* End-.viewImgList */
.rollbtnArea {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;
  z-index: 200;

  .rollingbtn {
    width: 320px;
    margin: 0 auto;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 5px;

      &.butt0 {
        margin-left: 10px;
      }

      &.rollplay {
        display: none;
      }

      a {
        vertical-align: top;
      }
    }
  }
}

/* End-rollbtnArea */
.about_area {
  h2 {
    padding: 55px 0 105px;
    text-align: center;
    font-size: 40px;
  }

  .about_box {
    background: #f4f0e9;
  }

  .place_list {
    .placeItem {
      float: left;
      width: 31%;
      margin-left: 2.3%;
      text-align: center;
      position: relative;
      top: -50px;
      border-radius: 10px;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(6.0px);
      -webkit-backdrop-filter: blur(6.0px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      .topImgFrame {
        overflow: hidden;
        border-radius: 10px;
        width: 95%;
        margin: 10px auto;

        &:hover img{
          transform: scale(1.15, 1.15);
          box-shadow: 5px 5px 50px #fff
        }
        img {
          transition: all .4s;
          width: 100%;
          height: 320px;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      .img_topplace {
        width: 100%;
      }

      h3 {
        font-weight: bold;
        font-size: 18px;
        padding-top: 25px;
        color: #000;
      }

      p.txt {
        box-sizing: border-box;
        padding: 10px 30px 0;
        width: 100%;
        overflow: hidden;
        word-break: keep-all;
        line-height: 1.8;
        color: #666;
      }

      .view {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 5px;
        border-top: 2px solid #333;
        color: #666;
        transition: all .3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* 컨텐츠 부분 */
.appbbs_area {
  padding: 60px 0;
}
.mainI1 .subI01 a {background-image: url(../images/Discover_on_SoundCloud/top01.jpg);}
.mainI1 .subI02 a {background-image: url(../images/Discover_on_SoundCloud/top02.jpg);}
.mainI1 .subI03 a {background-image: url(../images/Discover_on_SoundCloud/top03.jpg);}
.mainI1 .subI04 a {background-image: url(../images/Discover_on_SoundCloud/top04.jpg);}
.mainI1 .subI05 a {background-image: url(../images/Discover_on_SoundCloud/top05.jpg);}
.mainI1 .subI06 a {background-image: url(../images/Discover_on_SoundCloud/top06.jpg);}
.mainI1 .subI07 a {background-image: url(../images/Discover_on_SoundCloud/top07.jpg);}
.mainI1 .subI08 a {background-image: url(../images/Discover_on_SoundCloud/top08.jpg);}
.mainI1 .subI09 a {background-image: url(../images/Discover_on_SoundCloud/top09.jpg);}
.mainI1 .subI10 a {background-image: url(../images/Discover_on_SoundCloud/top10.jpg);}
.mainI1 .subI11 a {background-image: url(../images/Discover_on_SoundCloud/top11.jpg);}

.mainI2 .subI01 a {background-image: url(../images/Discover_on_SoundCloud/study01.jpg);}
.mainI2 .subI02 a {background-image: url(../images/Discover_on_SoundCloud/study02.jpg);}
.mainI2 .subI03 a {background-image: url(../images/Discover_on_SoundCloud/study03.jpg);}
.mainI2 .subI04 a {background-image: url(../images/Discover_on_SoundCloud/study04.jpg);}
.mainI2 .subI05 a {background-image: url(../images/Discover_on_SoundCloud/study05.jpg);}
.mainI2 .subI06 a {background-image: url(../images/Discover_on_SoundCloud/study06.jpg);}
.mainI2 .subI07 a {background-image: url(../images/Discover_on_SoundCloud/study07.jpg);}
.mainI2 .subI08 a {background-image: url(../images/Discover_on_SoundCloud/study08.jpg);}
.mainI2 .subI09 a {background-image: url(../images/Discover_on_SoundCloud/study09.jpg);}
.mainI2 .subI10 a {background-image: url(../images/Discover_on_SoundCloud/study10.jpg);}
.mainI2 .subI11 a {background-image: url(../images/Discover_on_SoundCloud/study11.jpg);}

.mainI3 .subI01 a {background-image: url(../images/Discover_on_SoundCloud/New01.jpg);}
.mainI3 .subI02 a {background-image: url(../images/Discover_on_SoundCloud/New02.jpg);}
.mainI3 .subI03 a {background-image: url(../images/Discover_on_SoundCloud/New03.jpg);}
.mainI3 .subI04 a {background-image: url(../images/Discover_on_SoundCloud/New04.jpg);}
.mainI3 .subI05 a {background-image: url(../images/Discover_on_SoundCloud/New05.jpg);}
.mainI3 .subI06 a {background-image: url(../images/Discover_on_SoundCloud/New06.jpg);}
.mainI3 .subI07 a {background-image: url(../images/Discover_on_SoundCloud/New07.jpg);}
.mainI3 .subI08 a {background-image: url(../images/Discover_on_SoundCloud/New08.jpg);}
.mainI3 .subI09 a {background-image: url(../images/Discover_on_SoundCloud/New09.jpg);}
.mainI3 .subI10 a {background-image: url(../images/Discover_on_SoundCloud/New10.jpg);}
.mainI3 .subI11 a {background-image: url(../images/Discover_on_SoundCloud/New11.jpg);}

.mainI4 .subI01 a {background-image: url(../images/Discover_on_SoundCloud/Chill01.jpg);}
.mainI4 .subI02 a {background-image: url(../images/Discover_on_SoundCloud/Chill02.jpg);}
.mainI4 .subI03 a {background-image: url(../images/Discover_on_SoundCloud/Chill03.jpg);}
.mainI4 .subI04 a {background-image: url(../images/Discover_on_SoundCloud/Chill04.jpg);}
.mainI4 .subI05 a {background-image: url(../images/Discover_on_SoundCloud/Chill05.jpg);}
.mainI4 .subI06 a {background-image: url(../images/Discover_on_SoundCloud/Chill06.jpg);}
.mainI4 .subI07 a {background-image: url(../images/Discover_on_SoundCloud/Chill07.jpg);}
.mainI4 .subI08 a {background-image: url(../images/Discover_on_SoundCloud/Chill08.jpg);}
.mainI4 .subI09 a {background-image: url(../images/Discover_on_SoundCloud/Chill09.jpg);}
.mainI4 .subI10 a {background-image: url(../images/Discover_on_SoundCloud/Chill10.jpg);}
.mainI4 .subI11 a {background-image: url(../images/Discover_on_SoundCloud/Chill11.jpg);}

.mainI5 .subI01 a {background-image: url(../images/Discover_on_SoundCloud/Party01.jpg);}
.mainI5 .subI02 a {background-image: url(../images/Discover_on_SoundCloud/Party02.jpg);}
.mainI5 .subI03 a {background-image: url(../images/Discover_on_SoundCloud/Party03.jpg);}
.mainI5 .subI04 a {background-image: url(../images/Discover_on_SoundCloud/Party04.jpg);}
.mainI5 .subI05 a {background-image: url(../images/Discover_on_SoundCloud/Party05.jpg);}
.mainI5 .subI06 a {background-image: url(../images/Discover_on_SoundCloud/Party06.jpg);}
.mainI5 .subI07 a {background-image: url(../images/Discover_on_SoundCloud/Party07.jpg);}
.mainI5 .subI08 a {background-image: url(../images/Discover_on_SoundCloud/Party08.jpg);}
.mainI5 .subI09 a {background-image: url(../images/Discover_on_SoundCloud/Party09.jpg);}
.mainI5 .subI10 a {background-image: url(../images/Discover_on_SoundCloud/Party10.jpg);}
.mainI5 .subI11 a {background-image: url(../images/Discover_on_SoundCloud/Party11.jpg);}
    
.mainM {

  .mainI {
    max-width: 1000px;
    width: 95%;
    height: 400px;
    border-bottom: 1px solid #555;
    overflow: hidden;

    >h2 {
      font-size: 30px;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    >p {
      color: #555;
    }

    .subM {
      .subI {
        width: auto;
        height: 100%;
        a {
          display: block;
          width: 200px;
          height: 200px;
          margin-right: 30px;
          margin-top: 30px;
          border: 1px solid #ddd;
          box-shadow: 2px 2px 15px #000 inset;
          border-radius: 10px;
        }

        .mName {
          margin-top: 10px;
        }

        .mTag {
          font-size: 14px;
          margin-top: 5px;
          color: #777;
        }
      }
      /* 이상하게 얘만 문제라 그냥 빈거 하나 넣어버림. */
      .subI12 a{
        border: none;
        box-shadow: none;
      }
    }
  }
} 

/* End-quickmenu */
.popup_base {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
  display: none;

  .pop_content {
    position: relative;
    width: 580px;
    margin: 200px auto 0;
    box-sizing: border-box;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    .btn_xpop {
      position: absolute;
      right: 15px;
      top: 15px;

      a {
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        text-indent: -9999px;
        overflow: hidden;
        background: url(../images/btn_xpop.png) no-repeat;
        background-size: 45px;
      }
    }

    .pop_list li {
      padding: 36px;
      text-align: center;

      +li {
        background: #f4f0e9;
      }

      +li+li {
        background: #fff;
      }

      iframe {
        border-radius: 10px;
        overflow: hidden;
      }

      h2.tit_pop {
        padding: 10px 0 24px;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: -2px;
      }

      img.pop_img {
        width: 100%;
      }

      .pop_txt {
        padding-top: 15px;

        p {
          padding-top: 10px;
          line-height: 1.8;
          font-size: 17px;
          width: 95%;
          margin: 0 auto;
          overflow: hidden;
          word-break: keep-all;
          letter-spacing: -2px;
          color: #111;
        }
      }
    }
  }
}

/* sub_page */
.location_area {
  height: 445px;
  background: url(../images/mainbg/mainbg1.jpg) no-repeat center;
  background-size: cover;
  &.musicLib {
    background-image: url(../images/mainbg/mainbg2.jpg);
  }

  // /* Images.img_top4.jpg 가 없는뎁쇼? */
  // &.ticket {
  //   background-image: url(../images/img_top4.jpg);
  // }

  // &.member {
  //   background-image: url(../images/img_top5.jpg);
  // }

  h2.tit_page {
    padding: 250px 0 0 0;
    margin: 0 50px;
    border-bottom: 1px solid #555;
    font: 30px "Arial Narrow";
    color: #745582;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;

    .in {
      font-variant: small-caps;
    }
  }

  ul.page_menu {
    display: none;
  }
}

.bodytext_area {
  box-sizing: border-box;
  padding: 55px 50px 0;
}

/* 공지사항 목록 */
.minisrch_form {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;

  .tbox {
    padding: 0 5px 0 30px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: url(../images/ico_search.png) no-repeat 10px 50%;
    background-size: 15px;
  }
}

.bbsListTbl {
  width: 100%;
  border-top: 2px solid #384d75;

  th,
  td {
    padding: 10px;
    box-sizing: border-box;
    height: 55px;
  }

  th {
    border-bottom: 1px solid #ccc;
    background: #f0f3fa;
  }

  td {
    text-align: center;
    line-height: 1.3;
    border-bottom: 1px solid #ccc;

    &.tit_notice {
      text-align: left;
    }

    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 55%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:nth-child(4) {
      width: 20%;
    }
  }
}

.pagination {
  padding: 40px 0 0;
  text-align: center;

  a {
    display: inline-block;

    &.pbtn {
      display: inline-block;
      padding: 7px;
      text-align: center;
      vertical-align: middle;
      font-size: 0;
    }

    .pagenum {
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      vertical-align: middle;
    }

    .currentpage {
      border-radius: 3px;
      background: #384d75;
      color: #fff;
    }

    &:hover .pagenum {
      border-radius: 3px;
      background: #ddd;
    }
  }
}

/* 공지사항 상세보기 */
.bbsview_list {
  padding-bottom: 30px;
  border-top: 2px solid #384d75;

  li {
    box-sizing: border-box;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #666;

    &.bbs_title {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      font-size: 16px;
    }

    &.bbs_hit {
      width: 50%;
      height: 40px;
      line-height: 40px;
      float: left;
    }

    &.bbs_date {
      width: 50%;
      height: 40px;
      line-height: 40px;
      float: left;
    }

    &.bbs_content {
      clear: both;
      min-height: 200px;
      padding: 20px 15px;

      .editer_content {
        line-height: 1.4;
      }
    }
  }
}

.near_list {
  border-top: 1px solid #ccc;

  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    h4 {
      float: left;
      width: 100px;
      padding: 0 0 0 50px;
      background: url(../images/ico_nearNext.png) no-repeat 12px 50%;
      font-size: 15px;

      &.next {
        background: url(../images/ico_nearPrev.png) no-repeat 12px 50%;
      }
    }

    a {
      float: left;
    }
  }
}

/* place_area */
.bodytext_area.Top_music {
  padding-top: 55px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* top50 Music */

  .con-wrap {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    .con{
      position: relative;
      width: 180px;
      margin-bottom: 30px;
      margin: 5px;
      border: 5px solid transparent;
      border-radius: 10px;
      margin-bottom: 25px;
      overflow: hidden;
      background-image: linear-gradient(#ddd, #ddd),
                        linear-gradient(to right, #c6ffdd, #fbd786, #fac8cb);
      background-origin: border-box;
      background-clip: content-box, border-box;

      &:hover .con-hover{
        display: block;
        transition: all .3s;
      }
      
      >a {
        width: auto;
        height: 200px;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .3s;
        overflow: hidden;
      }
      h3 {
        width: 100%;
        display: inline-block;
        height: 60px;
        text-align: center;
        line-height: 20px;
        background-color: #eee;
        border-radius: 10px;
        // box-shadow: 0px 0px 5px #eee;
        font-family: 'Jost', sans-serif;
      }
      p {
        text-align: center;
        display: block;
        height: 20px;
        font-family: 'Jost', sans-serif;
      }
      .con-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 71.6%;
        background-color: rgba($color: #000000, $alpha: .5);

        .fas {
          position: relative;
          color: #ddd;
          cursor: pointer;
        }
        .fa-play-circle {
          font-size: 6rem;
          display: grid;
          place-items: center;
          top: 20%;
        }
        .fa-ellipsis-h {
          font-size: 2rem;
          top: 28%;
          left: 75%;
        }
      }
    }
    .con01 >a { background-image: url(../images/bg/bg-01.jpg);}
    .con02 >a { background-image: url(../images/bg/bg-02.png);}
    .con03 >a { background-image: url(../images/bg/bg-03.jpg);}
    .con04 >a { background-image: url(../images/bg/bg-04.jpg);}
    .con05 >a { background-image: url(../images/bg/bg-05.jpg);}
    .con06 >a { background-image: url(../images/bg/bg-06.jpg);}
    .con07 >a { background-image: url(../images/bg/bg-07.jpg);}
    .con08 >a { background-image: url(../images/bg/bg-08.jpg);}
    .con09 >a { background-image: url(../images/bg/bg-09.jpg);}
    .con10 >a { background-image: url(../images/bg/bg-10.jpg);}
    .con11 >a { background-image: url(../images/bg/bg-11.jpg);}
    .con12 >a { background-image: url(../images/bg/bg-12.jpg);}
    .con13 >a { background-image: url(../images/bg/bg-13.jpg);}
    .con14 >a { background-image: url(../images/bg/bg-14.jpg);}
    .con15 >a { background-image: url(../images/bg/bg-15.jpg);}
    .con16 >a { background-image: url(../images/bg/bg-16.jpg);}
    .con17 >a { background-image: url(../images/bg/bg-17.jpg);}
    .con18 >a { background-image: url(../images/bg/bg-18.jpg);}
    .con19 >a { background-image: url(../images/bg/bg-19.jpg);}
    .con20 >a { background-image: url(../images/bg/bg-20.jpg);}
    .con21 >a { background-image: url(../images/bg/bg-21.jpg);}
    .con22 >a { background-image: url(../images/bg/bg-22.jpg);}
    .con23 >a { background-image: url(../images/bg/bg-23.jpg);}
    .con24 >a { background-image: url(../images/bg/bg-24.jpg);}
    .con25 >a { background-image: url(../images/bg/bg-25.jpg);}
    .con26 >a { background-image: url(../images/bg/bg-26.jpg);}
    .con27 >a { background-image: url(../images/bg/bg-27.jpg);}
    .con28 >a { background-image: url(../images/bg/bg-28.jpg);}
    .con29 >a { background-image: url(../images/bg/bg-29.jpg);}
    .con30 >a { background-image: url(../images/bg/bg-30.jpg);}
    .con31 >a { background-image: url(../images/bg/bg-31.jpg);}
    .con32 >a { background-image: url(../images/bg/bg-32.jpg);}
    .con33 >a { background-image: url(../images/bg/bg-33.jpg);}
    .con34 >a { background-image: url(../images/bg/bg-34.jpg);}
    .con35 >a { background-image: url(../images/bg/bg-35.jpg);}
    .con36 >a { background-image: url(../images/bg/bg-36.jpg);}
    .con37 >a { background-image: url(../images/bg/bg-37.png);}
    .con38 >a { background-image: url(../images/bg/bg-38.jpg);}
    .con39 >a { background-image: url(../images/bg/bg-39.jpg);}
    .con40 >a { background-image: url(../images/bg/bg-40.jpg);}
    .con41 >a { background-image: url(../images/bg/bg-41.jpg);}
    .con42 >a { background-image: url(../images/bg/bg-42.jpg);}
    .con43 >a { background-image: url(../images/bg/bg-43.jpg);}
    .con44 >a { background-image: url(../images/bg/bg-44.jpg);}
    .con45 >a { background-image: url(../images/bg/bg-45.jpg);}
    .con46 >a { background-image: url(../images/bg/bg-46.jpg);}
    .con47 >a { background-image: url(../images/bg/bg-47.jpg);}
    .con48 >a { background-image: url(../images/bg/bg-48.jpg);}
    .con49 >a { background-image: url(../images/bg/bg-49.png);}
    .con50 >a { background-image: url(../images/bg/bg-50.jpg);}
  }
}
/*==========
  로그인
===========*/
/* 로그인 다크모드 */
body.dark .login-wrap {
  background-image: url(../images/mainbg/login-bg-dark.jpg);
  .form-wrap {
    background: rgba( 23, 23, 23, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 23, 23, 23, 0.18 );
  }
  .button-wrap .togglebtn{
    color: #ccc;
  }
  #login .submit {
    color: #ccc;
  }
}
.login-wrap {
  height: 100vh;
  width: 100%;
  background-image: url(../images/mainbg/login-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  top: -100px;

  .form-wrap {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    top: 300px;

    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .button-wrap {
    width: 238px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
  }

  .togglebtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }

  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    /* fallback for old browsers */
    background: #FC466B;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    border-radius: 30px;
    transition: .5s;
  }

  .social-icons {
    margin: 30px auto;
    text-align: center;
  }

  .social-icons img {
    width: 30px;
    cursor: pointer;
  }

  .input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
  }

  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }

  .submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    /* fallback for old browsers */
    background: #FC466B;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    border: 0;
    outline: none;
    border-radius: 30px;
  }

  .checkbox {
    margin: 30px 10px 30px 0;
  }

  span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
  }

  #login {
    left: 50px;
  }

  #register {
    left: 450px;
  }
}

/* 이용 약관 */
/* 개인정보 취급 방침 */

.service-wrap, .privacy-wrap {
  margin-top: 200px;
  padding: 20px;
  line-height: 1.4;
}

/****************************************************************
        태블릿 스타일
****************************************************************/
@media all and (max-width: 1065px) and (min-width: 801px) {

  /* Ipad 가로, IpadPro 가로세로, gallexyTab 가로 */
  .box_inner {
    width: 100%;
  }

  header .header_area h1 {
    padding-left: 20px;
  }

  .header_cont {
    float: right;
    width: 60%;
    padding-right: 20px;

    .gnb li a {
      padding: 25px 17px;
    }
  }

  #container {
    padding-bottom: 20px;
  }

  .about_area .place_list {
    box-sizing: border-box;
    padding: 0 20px;
  }

  .appbbs_area .appbbs_box {
    box-sizing: border-box;
    padding: 0 10px;
  }
  footer .foot_area {
    box-sizing: border-box;
    padding-left: 20px;

    .snslink li {
      margin-left: 15px;
    }
  }
}

/****************************************************************
        모바일 스타일
****************************************************************/
@media all and (max-width: 800px) {
  .box_inner {
    width: 100%;
  }
  body.dark {
    .header_cont {
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, rgb(87, 47, 82),
          rgba(75,75,75, 0.95));
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, rgb(87, 47, 82),
          rgba(75,75,75, 0.95));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    header .header_area span {
      background: #ddd;
    }
  }
  header {
    height: 90px;
    text-align: center;
    z-index: 200;
    background-color: rgba($color: #ffffff, $alpha: .4);

    &.on {
      background-color: rgba($color: #ffffff, $alpha: .4);
    }

    .header_area {
      h1 {
        float: none;
        width: 100%;
        height: 100px;
        text-align: center;
        padding: 35px 0 0;

        a {
          display: inline-block;
          width: 180px;
          height: 100%;
          position: relative;
          top: -40px;
          left: 17px;
          background-size: contain;
        }
      }

      .openMOgnb {
        display: block;
        position: absolute;
        left: 15px;
        top: 35px;
        width: 23px;
        height: 16px;

        span {
          box-sizing: border-box;
          display: block;
          width: 25px;
          height: 3px;
          margin-bottom: 4px;
          border-right: 10px;
          background: #555;

          +span {
            width: 17px;
          }

          &:last-child {
            width: 25px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .header_cont {
    $bg: #ddd;
    $c: #000000;
    float: none;
    width: 100%;
    top: -45px;
    border-radius: 15px;
    position: relative;
    background: rgb(181, 255, 254);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgb(181, 255, 254), 
                                                rgba(255, 245, 254, 0.95));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(181, 255, 254), 
                                        rgba(255, 245, 254, 0.95));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: none;

    .util {
      padding: 20px;
      .toggle-button {
        right: 2%;
        top: 15px;
      }

      li {
        position: relative;
        left: -95%;

        &::after {
          content: "|";
          display: inline-block;
          padding: 0 10px;
          font-size: 10px;
          color: $c;
          position: relative;
          top: -2px;
        }

        &:last-child::after {
          content: "";
          display: none;
        }

        a {
          font-size: 16px;
          color: #000;
        }
      }
    }

    .closePop {
      display: block;
      position: absolute;
      right: 0;
      top: -75px;

      a {
        display: block;
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        overflow: hidden;
        background: url(../images/btn_closeMenu.png) no-repeat;
        background-color: rgba($color: #a2a2a2, $alpha: .3);
        background-position: center;
        border-radius: 10px;
        background-size: 60px;
        &:hover {
          background-color: rgba($color: #a2a2a2, $alpha: .7);
        }
      }
    }

    .gnb {
      $c2: #37383b;

      float: none;
      box-sizing: border-box;
      padding-top: 0;
      height: auto;
      border-top: 1px solid $c2;

      li {
        float: left;
        width: 50%;
        text-align: left;
        box-sizing: border-box;
        border-bottom: 1px solid $c2;
        border-radius: 15px;
        &:nth-child(odd) {
          border-right: 1px solid $c2;
        }

        a {
          display: block;
          padding: 0 0 0 65px;
          height: 60px;
          font-size: 16px;
          color: #333;
          font-family: 'Josefin Sans', sans-serif;
          overflow: hidden;
          i {
            display: inline-block;
            font-size: 2em;
            margin-right: 10px;
            margin-top: 15px;
            color: #00f8d7ce;
          }
        }
      }
    }
  }

  /* main rolling */
  .main_rolling_pc {
    display: none;
  }

  .main_rolling_mobile {
    display: block;

    .swiper-container .swiper-wrapper .swiper-slide img {
      width: 100%;
      height: 500px;
    }

    .swiper-pagination {
      width: auto;
      right: 20px;
      left: auto;
      top: auto;
      bottom: 20px;
      font-size: 0;

      &-bullet {
        width: 5px;
        height: 5px;
        margin: 0 3px !important;
        background: #fff;
        opacity: 0.2;

        &-active {
          opacity: 1;
        }
      }
    }
  }

  /* footer */
  footer {
    $c1: #767676;

    .foot_area {
      box-sizing: border-box;
      padding: 0 20px 90px;
      text-align: center;

      h2 {
        padding-top: 15px;
        font-size: 14px;
      }

      .addr {
        line-height: 1.3;
        font-size: 14px;
        color: $c1;
      }

      .copy {
        padding: 13px 0 20px;
        font-size: 14px;
        color: $c1;
      }

      .snslink {
        position: static;
        width: 300px;
        margin: 0 auto;

        li {
          margin-left: 30px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .gubun {
      color: #fff;
    }

    .br_line {
      display: block;
    }
  }

  /* container */
  #container {
    position: relative;
    width: 100%;
    padding-bottom: 70px;
  }
  /* Top Music */
  .bodytext_area.Top_music {
    margin-top: 100px;
  }
  /* Music Library */
  .bodytext_area.musicLib {
    margin-top: 100px;
  }

  /* about_area */
  .about_area {
    h2 {
      padding: 27px 0 25px;
      font-size: 20px;

      b {
        display: block;
        padding-top: 10px;
      }
    }

    .about_box {
      background: #fff;
    }

    .place_list .placeItem {
      float: none;
      width: 95%;
      margin: 0 auto 20px;
      box-sizing: border-box;
      padding: 20px 20px;
      top: 0;
      &:first-child {
        margin: 0 auto 20px;
      }
      a img {
        border-radius: 10px;
      }

      &:hover {
        transform: none;
      }

      p.txt {
        padding: 10px 50px 30px;
        line-height: 1.4;
      }

      .view {
        padding-bottom: 10px;
        margin: 0 0 30px;
      }
    }
  }

  .appbbs_area {
    padding: 0 20px;
  }

  /* popup_base */
  .popup_base .popup_content {
    position: relative;
    width: 90%;
    margin: 100px auto 0;

    .btn_xpop {
      top: -40px;

      a {
        display: block;
        width: 30px;
        height: 30px;
        background-size: 30px;
      }
    }

    .pop_list li {
      padding: 20px;

      h2.tit_pop {
        padding: 5px 0 12px;
        font-size: 17px;
        letter-spacing: -1px;
      }

      .pop_txt {
        padding-top: 10px;

        p {
          padding-top: 5px;
          line-height: 1.4;
          font-size: 14px;
          letter-spacing: -1px;
        }
      }
    }
  }

  /* sub_page */
  .location_area {
    height: 260px;
    width: 100%;
    background-image: url(../images/mainbg/subbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: none;

    h2.tit_page {
      padding: 140px 0 0 0;
      margin: 0 45px;
    }

    p.location {
      display: none;
    }

    ul.page_menu {
      display: block;
      padding: 10px 0 0 45px;

      li {
        float: left;
        padding-bottom: 10px;

        a {
          display: block;
          margin-right: 20px;
          font-size: 15px;
          color: #ddd;

          &.on {
            border-bottom: 1px solid #fff;
            color: #fff;
          }
        }
      }
    }
  }

  .bodytext_area {
    box-sizing: border-box;
    padding: 33px 20px 0;
  }
}